@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* .kb-container {
    width: 95vw;
    align-self: center;   
} */

.kb-navbar {
    height: 6vh;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 3%;
    z-index: 5;
}

.kb-link:link {
    text-decoration: none;
    color: black;
  }
  
.kb-link:visited {
    text-decoration: none;
    color: black;
  }
  
.kb-link:hover {
    text-decoration: none;
    color: black;
  }
  
.kb-link:active {
    text-decoration: none;
    color: black;
  }

.kb-link-logo:link {
    text-decoration: none;
    color: blue;
  }
  
.kb-link-logo:visited {
    text-decoration: none;
    color: blue;
  }
  
.kb-link-logo:hover {
    text-decoration: none;
    color: blue;
  }
  
.kb-link-logo:active {
    text-decoration: none;
    color: blue;
  }

.kb-link-menu:link {
    text-decoration: none;
    color: white;
  }
  
.kb-link-menu:visited {
    text-decoration: none;
    color: white;
  }
  
.kb-link-menu:hover {
    text-decoration: none;
    color: white;
  }
  
.kb-link-menu:active {
    text-decoration: none;
    color: white;
  }

.kb-logo {
    /* position: absolute;
    top: 3%;
    left: 2%; */
    font-size: 25px; 
}

.kb-nxtpg {
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 50px;
}

.kb-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4;
    color: white;
    background: black;
    /* backdrop-filter: blur(10px); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;  
    transform: translateY(-100%);    
}

.kb-menu {
    /* float: right; */
    /* position: absolute;
    top: 3%;
    right: 2%; */
    font-weight: bold;
    color: grey;    
}

.kb-nav li {
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.kb-copyright {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 10px;
    font-weight: 500;
}

.kb-nav li:hover {
    cursor: pointer;
    /* color: black; */
    animation: zoom 0.3s ease-in forwards;
}


.kb-menu:hover {
    cursor: pointer;
    /* color: black; */
    animation: zoom 0.3s ease-in forwards;
}

@keyframes zoom {
    from {
        /* color: grey; */
        transform: scale(1,1);
        font-weight: 500;
    }
    to {
        /* color: blue; */
        transform: scale(1.1,1.1);
        font-weight: 700;
    }
}


.kb-landingPage {
    overflow: hidden;
}


.kb-landingPage-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    z-index: -1;
    
}

.dev1 {
    grid-column: 2/3;
    align-self: center;
}
.dev2 {
    grid-column: 3/4;
    align-self: center;
}
.dev3 {
    grid-column: 4/5;
    align-self: center;
}

.kb-backgroundText {
    font-size: 250px;
    color: white;
    letter-spacing: -5px;
    animation: emerge 1.5s ease-in;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
}


@keyframes emerge {
    from {
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.0));
    } 
    to {
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));  
    }
}

.header-flex {
    flex-wrap: wrap;
}

.kb-headerGrp {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);  
}

.kb-header {
    z-index: 2;
    font-size: 70px;
    margin-right: 18px;
}

.kb-cta-btn {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-top: 20px;
}

.kb-cta {
    margin: 5px 5px;
    padding-right: 12px;
    font-size: 18px;
    font-weight: 600;
    color: grey; 
}

.kb-cta:hover {
    cursor: pointer;
    animation: ctaAnim 0.3s ease-in forwards;
}

@keyframes ctaAnim {
    from {
        color: grey;
        transform: scale(1,1);
    }
    to {
        color: black;
        transform: scale(1.03,1.03);
    }
}

.kb-cta-sm {
    margin: 5px 5px;
    padding-right: 12px;
    font-size: 15px;
    color: grey; 
}


.kb-name {
    color: blue;
}

/* .kb-about, .kb-sp, .kb-contact {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-100%);
} */

.kb-whiteSpace {
    margin: 20px 20px;
}

.kb-header-small {
    z-index: 2;
    font-size: 17px;
    letter-spacing: 3px;
    /* text-align: center; */
    font-weight: 450;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.kb-header-small-non-center {
    z-index: 2;
    font-size: 17px;
    letter-spacing: 3px;
    /* text-align: center; */
    font-weight: 450;
    color: black;
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.kb-header-align-center {
    z-index: 2;
    font-size: 40px;
    /* line-height: 50px; */
    font-weight: bolder;
    /* text-align: center; */
}

.wrapper {
    padding-top: 8%;
    padding-bottom: 8%;
    /* padding-left: 5%;
    padding-right: 5%; */
    max-width: 80%;
    margin: auto;
    align-self: center;
}

/* .kb-header-clr-blk {
    color: black;
} */

.kb-content {
    z-index: 2;
    width: 80%;
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 0px;
    font-weight: 550;
    color: grey;
    /* text-align: center; */
    
}

.kb-content-center {
    padding: 25px 0px;
    font-weight: 550;
    color: grey;
    /* text-align: center; */
    
}

.kb-content-left {
    padding: 15px 0px;
    font-weight: 550;
    color: grey;
    /* text-align: center; */
    
}

.kb-gear {
    margin-top: 30px;
}

.kb-gear-content {
    margin: 30px 20px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 10% 1fr 1fr 10%;
}

.kb-gear-content p {
    text-align: left;
    grid-column: 1/2;
    grid-row: 2/3;
    /* margin-bottom: 30px; */
}

/* .kb-gear-svg-mobile {
    display: none;
} */

.kb-gear-svg-mobile {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
    /* padding-left: 60px; */
}

.kb-gear-tools {
    grid-column: 1/5;
    grid-row: 3/4;
    align-self: center;
    /* justify-self: center; */
    
}

.kb-gear-tools-li {
    font-size: 20px;
    color: black;
}

.kb-divider {
    color: rgba(128, 128, 128, 0.767);
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}

.kb-skills {
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10%;
    align-items: center;
    justify-items: center;
    font-size: 60px;
}
/* .kb-skills {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 70px;
} */

/* .kb-colored {
    color: rgba(0, 0, 0, 0.8);
} */

.kb-skills-skill {
    color: rgba(0, 0, 0, 0.8);
}

/* .kb-skills-skill:hover {
    animation: clrChange 0.3s ease-in forwards;
    cursor: pointer;
} */

@keyframes clrChange {
    from {
        color:rgba(0, 0, 0, 0.8);
    }
    to {
        color: yellow;
    }
}
/* .kb-skills-1 {
    font-size: 70px;
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
} */

.kb-skills-text {
    color: black;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
}

.kb-projects {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
    column-gap: 5%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.img1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.img2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.kb-img {
    width: 600px;
    height: 300px;
    /* margin: 10px 10px; */
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.045);
    border-radius: 8px;
}

.kb-gh-link {
    margin-bottom: 10px;
}

/* .wrapper-contact {
    background-color: #485b9b;
    height: 100vh;
} */

.kb-contact-wrapper {
    
    align-self: center;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
}

.kb-contact-bg {
    z-index: -4;
    position: absolute;
    top: 0%;
    right: 0%;
    opacity: 89%;
}

.kb-contact-anim {
    
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 11%;
    justify-items: center;
    align-items: center;
}

.kb-letter {
    font-size: 50px;
    font-weight: 700;
    color: black;
    /* color: rgba(255, 255, 255, 0.712); */
}

/* .in {
    color: rgb(116, 115, 115);
} */

.kb-form {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */  
}


input[type='text'], input[type='email'], textarea {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(141, 141, 141, 0.411);
    border-radius: 3px;
    padding: 5px 5px;
    margin: 5px 5px;
}

input[type='submit'] {
    width: 99%;
    margin: auto;
    /* margin-left: 10px;
    margin-right: 10px; */
    align-self: center;
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: black;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

.kb-social-links {
    width: 30%;
    align-self: flex-start;
}

.kb-social {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    list-style: none;
}

.kb-icon {
    font-size: 50px;
}

.kb-footer {
    position: relative;
    bottom: 0%;
    left: 0%;
}

@media only screen and (max-width: 769px) {

    .kb-landingPage {
        height: 100vh;
        overflow: hidden;
    }

    .kb-landingPage-bg {
        /* display: none; */
        width: 50%;
        height: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        /* left: 200px; */
        transform: translate(-40%, -50%) rotate(90deg); 
        display: grid;
        grid-template-rows: 1fr;
        z-index: -1;
    }
    
    .dev1 {
        grid-row: 1/2;
        /* grid-column: 2/3; */
        justify-self: center;
        align-self: center;
    }
    .dev2 {
        /* grid-row: 3/4;
        grid-column: 2/3;
        justify-self: center;
        align-self: center; */
        display: none;
    }
    .dev3 {
        /* grid-row: 4/5;
        grid-column: 2/3;
        justify-self: center;
        align-self: center; */
        display: none;
    }

    .kb-backgroundText {
        /* display: none; */
        font-size: 250px;
        color: white;
        letter-spacing: -5px;
    }

    .kb-cta {
        margin: 3px 3px;
        padding-right: 21px;
        font-size: 12px;
        font-weight: 600;
        color: grey; 
    }

    .kb-cta-sm {
        font-size: 10px;
        display: none;
    }

    .wrapper {
        padding-top: 12%;
    }


    .kb-headerGrp {
        padding-top: 50px;
    }

    .kb-header {
        z-index: 2;
        font-size: 40px;
        margin-right: 15px;
    }

    

    .kb-header-small {
        font-size: 14px;
    }

    .kb-header-align-center {
        z-index: 2;
        font-size: 35px;
        /* line-height: 50px; */
        font-weight: bolder;
        text-align: center;
    }

    .kb-gear-content {
        margin: 30px 20px;
        margin-bottom: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .kb-gear-svg-mobile {
        grid-column: 1/2;
        grid-row: 1/2;
        /* padding-left: 60px; */
    }

    .kb-gear-content p {
        justify-self: center;
        align-self: center;
        text-align: left;
        grid-column: 1/2;
        grid-row: 2/3;
        /* margin-bottom: 30px; */
    }

    .kb-gear-tools {
        grid-column: 1/2;
        grid-row: 3/4;
        /* align-self: center;
        justify-self: center; */
        
    }

    .kb-nxtpg {
        font-size: 25px;
        font-weight: 550;
        margin-bottom: 50px;
    }

    .kb-skills {
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5%;
        align-items: center;
        justify-items: center;
        font-size: 40px;
    }

    .kb-projects {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2%;
        column-gap: 2%;
        padding-bottom: 100px;
        padding-top: 50px;
        justify-items: center;
        /* align-items: center; */
    }

    .img1 {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: center;
    }
    
    .img2 {
        grid-row: 3/4;
        grid-column: 1/2;
        align-self: center;
    }

    .wrapper-contact {
        margin-bottom: 60px;
    }

    .kb-contact-wrapper {
        align-items: center;
        display: grid;
        grid-template-rows: 50% 1fr;
        row-gap: 0%;
        grid-template-columns: repeat(1, 1fr);
    }

    .kb-contact-anim {
        align-self: flex-start;
        height: 60%;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .kb-form {
        grid-row: 2/3;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 60px;
        /* align-items: center; */  
    }

    .kb-contact-center {
        margin: 20px 0px;
    }


}

@media only screen and (max-width: 426px) {
    .kb-landingPage-bg {
        /* display: none; */
        width: 50%;
        height: 50%;
        position: absolute;
        top: 30%;
        left: 50%;
        /* left: 200px; */
        transform: translate(-40%, -50%) rotate(90deg); 
        display: grid;
        grid-template-rows: 1fr;
        z-index: -1;
    }

    .wrapper {
        padding-top: 22%;
    }

    .kb-social {
        flex-direction: column;
    }

    .kb-header-align-center, 
    .kb-content, 
    .kb-header-small,
    .kb-skills-text,
    .kb-content-center {
        text-align: left;
    }

    .kb-header-small {
        padding-bottom: 0px;
    }

    .kb-content {
        width: 85%;
    }


    .kb-gear-content {
        grid-template-rows: 1fr 1fr 1fr;
    }

    .kb-gear-svg-mobile {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .kb-gear-content p {
        justify-self: center;
        align-self: center;
        text-align: left;
        grid-column: 1/2;
        grid-row: 2/3;
        /* margin-bottom: 30px; */
    }

    .kb-gear-tools {
        grid-column: 1/2;
        grid-row: 3/4;
        /* align-self: center;
        justify-self: center; */
        
    }

    .kb-projects {
        
        grid-template-rows: 170px 1fr 170px 1fr;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2%;
        column-gap: 2%;
        padding-bottom: 100px;
        padding-top: 50px;
        justify-items: center;
        /* align-items: center; */
    }

    .kb-img {
        width: 300px;
        height: 150px;
        align-self: center;
        /* margin: 10px 10px; */
        border-radius: 8px;
    }

    .kb-contact-anim {
        row-gap: 0%;
        align-self: center;
        
    }



}








  
  